%table.table.table-striped.table-bordered.table-for-search
  %tr
    %th.text-nowrap= t('.position')
    %th.text-nowrap= t('.image')
    %th.text-nowrap= t('.upgrade_name')
    %th.text-nowrap= t('.upgrade_type')
    %th.text-nowrap= t('.squadron_count')
    %th.text-nowrap= t('.tournaments_count')
    %th.text-nowrap= t('.average_percentile')
    %th.text-nowrap.magic-column= t('.weight')
  - upgrades.each.with_index do |upgrade, index|
    %tr.row-for-search{data: {upgrade_id: upgrade.id}}
      %td
        %strong= "#{index + 1}."
      %td.image-hover-cell.upgrade
        .image-with-hover
          = image_tag upgrade_image_path(upgrade_id: upgrade.id, format: :png)
      %td
        = link_with_filter_to upgrade_path(upgrade.id) do
          = upgrade.name
      %td
        %i.xwing-miniatures-font{class: "xwing-miniatures-font-#{upgrade.upgrade_type_font_icon_class}"}
        = upgrade.upgrade_type
      %td
        = upgrade.squadrons
        %br
        %small= "#{(upgrade.squadrons.to_f / @view.number_of_squadrons.to_f * 10000).to_i / 100.0}%"
      %td
        = upgrade.tournaments
        %br
        %small= "#{(upgrade.tournaments.to_f / @view.number_of_tournaments.to_f * 10000).to_i / 100.0}%"
      %td
        = "#{(upgrade.average_percentile * 10000).to_i / 100.0}%"
      %td.magic-column
        = render '/shared/magic_bar', max_weight: upgrades.first.weight, weight: upgrade.weight
