%table.table.table-striped.table-bordered.table-for-search
  %tr
    %th.text-nowrap= t('.position')
    %th.text-nowrap= t('.image')
    %th.text-nowrap= t('.upgrade_name')
    %th.text-nowrap= t('.upgrade_type')
    %th.text-nowrap= t('.squadron_count')
    %th.text-nowrap= t('.tournaments_count')
    %th.text-nowrap= t('.average_percentile')
    %th.text-nowrap= t('.weight')
  - upgrades.each.with_index do |upgrade, index|
    %tr.row-for-search{data: {upgrade_id: upgrade.id}}
      %td
        %strong= "#{index + 1}."
      %td
        = link_to upgrade.wikia_uri do
          - if upgrade.image_uri.present?
            = image_tag upgrade.image_uri, width: '60px'
          - else
            = t('.no_image')
      %td
        = link_with_filter_to upgrade_path(upgrade.id) do
          = upgrade.name
      %td
        %i.xwing-miniatures-font{class: "xwing-miniatures-font-#{upgrade.upgrade_type_font_icon_class}"}
        = upgrade.upgrade_type
      %td
        = upgrade.squadrons
      %td
        = upgrade.tournaments
      %td
        = (upgrade.average_percentile * 1000).to_i / 10.0
      %td
        = upgrade.weight
