- content_for :title do
  = t('.title', upgrade: @view.upgrade.name, upgrade_type: @view.upgrade_sides.upgrade_type)

- if params[:admin] == 'true'
  .float-md-right
    %button.btn.btn-primary.btn-sm{data: {target: '#edit-modal', toggle: 'modal'}, type: 'button'}
      = t('.edit')
%h2= t('.upgrade')
= render '/upgrades/table', upgrades: @view.upgrades

.float-md-right
  = link_with_filter_to upgrade_squadrons_path(@view.upgrade), class: 'btn btn-primary btn-sm' do
    = t('.more_squadrons')
%h2= t('.notable_squadrons')
= render '/squadrons/table', squadrons: @view.squadrons

%h2= t('.pilots')
= render '/pilots/table', pilots: @view.pilots

%h2= t('.ship_combos')
= render '/ship_combos/table', ship_combos: @view.ship_combos, ships: @view.ship_combos_ships

= render '/upgrades/edit_modal', upgrade: @view.upgrade
