#filter-accordion{role: 'tablist', style: 'margin-bottom: 0.5rem'}
  .card
    #filter-header.card-header{role: 'tab'}
      %h5.mb-0
        .float-sm-right
          = link_to request.env['PATH_INFO'], class: 'btn btn-primary btn-sm' do
            = t('.reset_filter')
        = t('.filter')
    #filter-content.collapse.show{role: 'tabpanel'}
      = form_tag '', method: :patch, id: 'filter-form' do
        .card-block.row{style: 'padding: 0.5rem'}
          .col-sm-2
            = select_tag :preset_ranking_start, options_for_select(preset_dates, ranking_configuration[:ranking_start]), class: 'form-control preset-date', data: {field: '#ranking-start'}
            = select_tag :preset_ranking_end, options_for_select(preset_dates, ranking_configuration[:ranking_end]), class: 'form-control preset-date', data: {field: '#ranking-end'}
          .col-sm-2
            = text_field_tag :ranking_start, ranking_configuration[:ranking_start], class: 'form-control filter-input', id: 'ranking-start'
            = text_field_tag :ranking_end, ranking_configuration[:ranking_end], class: 'form-control filter-input', id: 'ranking-end'
          .col-sm-4
            = select_tag :large_tournament_multiplier, options_for_select([[t('.multipliers.large_tournament_multiplier.multiply'), 'true'], [t('.multipliers.large_tournament_multiplier.do_not_multiply'), 'false']], ranking_configuration[:large_tournament_multiplier].to_s), class: 'form-control filter-input'
            = select_tag :widespread_use_multiplier, options_for_select([[t('.multipliers.widespread_use_multiplier.multiply_high'), 'high'], [t('.multipliers.widespread_use_multiplier.do_not_multiply'), 'none']], ranking_configuration[:widespread_use_multiplier].to_s), class: 'form-control filter-input'
          .col-sm-4
            = select_tag :use_ranking_data, options_for_select(preset_ranking_data, ranking_configuration[:use_ranking_data]), class: 'form-control filter-input', id: 'use-ranking-data'
            = select_tag :tournament_type, options_from_collection_for_select(TournamentType.all, :id, :name, ranking_configuration[:tournament_type]), include_blank: t('.all_types'), class: 'form-control filter-input', id: 'tournament-type'

- content_for :javascript do
  :coffeescript
    $ ->
      updateFilteredData = ->
        newPath = window.location.pathname + '?'
        $.each $('.filter-input'), (index, item) ->
          newPath += $(item).attr('name') + '=' + encodeURIComponent($(item).val()) + '&'
        window.location = newPath

      $('.filter-input').on 'change', (e) ->
        updateFilteredData()

      $('.preset-date').on 'change', (e) ->
        $($(e.target).data('field')).val($(e.target).val())
        updateFilteredData()
