%table.table.table-striped.table-bordered.table-for-search
  %tr
    %th.text-nowrap= t('.position')
    %th.text-nowrap= t('.archetype_name')
    %th.text-nowrap= t('.ship_names')
    %th.text-nowrap= t('.squadron_count')
    %th.text-nowrap= t('.tournaments_count')
    %th.text-nowrap= t('.average_percentile')
    -#%th.text-nowrap= t('.win_loss_ratio')
    - unless ship_combos.count <= 1
      %th.text-nowrap.magic-column= t('.weight')
  - ship_combos.each.with_index do |ship_combo, index|
    %tr.row-for-search{data: {ship_combo_id: ship_combo.id}}
      %td
        %strong= "#{index + 1}."
      %td
        = link_with_filter_to ship_combo_path(ship_combo.id) do
          = ship_combo.archetype_name.presence || t('.unnamed_archetype')
      %td.ship-combo-cell
        - ships[ship_combo.id].each do |ship_info|
          %i.xwing-miniatures-ship{class: "xwing-miniatures-ship-#{ship_info[:font_icon_class]}"}
          = link_with_filter_to ship_path(ship_info[:id]) do
            = ship_info[:name]
          %br
      %td
        = ship_combo.squadrons
        %br
        %small= "#{(ship_combo.squadrons.to_f / @view.number_of_squadrons.to_f * 10000).to_i / 100.0}%"
      %td
        = ship_combo.tournaments
        %br
        %small= "#{(ship_combo.tournaments.to_f / @view.number_of_tournaments.to_f * 10000).to_i / 100.0}%"
      %td
        = "#{(ship_combo.average_percentile * 10000).to_i / 100.0}%"
      -#%td
      -#  - if ship_combo.average_wlr.present?
      -#    = "#{(ship_combo.average_wlr * 10000).to_i / 100.0}%"
      -#  - else
      -#    &mdash;
      - unless ship_combos.count <= 1
        %td.magic-column
          = render '/shared/magic_bar', max_weight: ship_combos.first.weight, weight: ship_combo.weight
