- content_for :title do
  = t('.title')
  - if @view.ship_combo.archetype_name.present?
    = "\"#{@view.ship_combo.archetype_name}\""

.float-md-right
  %button.btn.btn-primary{data: {target: '#edit-modal', toggle: 'modal'}, type: 'button'}
    = t('.edit')
%h2= t('.ship_combo')
= render '/ship_combos/table', ship_combos: @view.ship_combos, ships: @view.ship_combos_ships

%h2= t('.notable_squadrons')
= render '/shared/notable_squadrons', squadrons: @view.squadrons

%h2= t('.pilots')
= render '/pilots/table', pilots: @view.pilots

= render '/ship_combos/edit_modal', ship_combo: @view.ship_combo
