- content_for :title do
  = t('.title')
  - if @view.ship_combo.archetype_name.present?
    = "\"#{@view.ship_combo.archetype_name}\""

.float-md-right
  %button.btn.btn-primary.btn-sm{data: {target: '#edit-modal', toggle: 'modal'}, type: 'button'}
    = t('.edit')
%h2= t('.ship_combo')
= render '/ship_combos/table', ship_combos: @view.ship_combos, ships: @view.ship_combos_ships

.float-md-right
  = link_with_filter_to ship_combo_squadrons_path(@view.ship_combo), class: 'btn btn-primary btn-sm' do
    = t('.more_squadrons')
%h2#squadrons= t('.notable_squadrons')
= render '/squadrons/table', squadrons: @view.squadrons

%h2#pilots= t('.pilots')
= render '/pilots/table', pilots: @view.pilots

= render '/ship_combos/edit_modal', ship_combo: @view.ship_combo
