%table.table.table-striped.table-bordered.table-for-search
  %tr
    %th.text-nowrap= t('.position')
    %th.text-nowrap= t('.image')
    %th.text-nowrap= t('.pilot_name')
    %th.text-nowrap= t('.faction')
    %th.text-nowrap= t('.ship_name')
    %th.text-nowrap= t('.squadron_count')
    %th.text-nowrap= t('.tournaments_count')
    %th.text-nowrap= t('.average_percentile')
    -#%th.text-nowrap= t('.win_loss_ratio')
    - unless pilots.count <= 1
      %th.text-nowrap.magic-column= t('.weight')
  - pilots.each.with_index do |pilot, index|
    %tr.row-for-search{data: {pilot_id: pilot.id, ship_id: pilot.ship_id}}
      %td
        %strong= "#{index + 1}."
      %td.image-hover-cell.pilot
        .image-with-hover
          = image_tag pilot_image_path(pilot.id, format: :png)
      %td
        = link_with_filter_to pilot_path(pilot.id) do
          = pilot.name
      %td
        %i.xwing-miniatures-font{class: "xwing-miniatures-font-#{faction_icon(pilot.faction)}"}
      %td
        %i.xwing-miniatures-ship{class: "xwing-miniatures-ship-#{ship_id_icon(pilot.ship_id)}"}
        = link_with_filter_to ship_path(pilot.ship_id) do
          = pilot.ship_name
      %td
        = pilot.squadrons
        %br
        %small= "#{(pilot.squadrons.to_f / @view.number_of_squadrons.to_f * 10000).to_i / 100.0}%"
      %td
        = pilot.tournaments
        %br
        %small= "#{(pilot.tournaments.to_f / @view.number_of_tournaments.to_f * 10000).to_i / 100.0}%"
      %td
        = "#{(pilot.average_percentile * 10000).to_i / 100.0}%"
      -#%td
      -#  - if pilot.average_wlr.present?
      -#    = "#{(pilot.average_wlr * 10000).to_i / 100.0}%"
      -#  - else
      -#    &mdash;
      - unless pilots.count <= 1
        %td.magic-column
          = render '/shared/magic_bar', max_weight: pilots.first.weight, weight: pilot.weight
