- content_for :title do
  = t('.title', name: @view.pilot.name)

.float-md-right
  %button.btn.btn-primary.btn-sm{data: {target: '#edit-modal', toggle: 'modal'}, type: 'button'}
    = t('.edit')
%h2= t('.pilot')
= render '/pilots/table', pilots: @view.pilots

.float-md-right
  = link_to pilot_squadrons_path(@view.pilot), class: 'btn btn-primary btn-sm' do
    = t('.more_squadrons')
%h2#squadrons= t('.notable_squadrons')
= render '/squadrons/table', squadrons: @view.squadrons

%h2#upgrades= t('.upgrades')
= render '/upgrades/table', upgrades: @view.upgrades

%h2#ship_combos= t('.ship_combos')
= render '/ship_combos/table', ship_combos: @view.ship_combos, ships: @view.ship_combos_ships

= render '/pilots/edit_modal', pilot: @view.pilot
