%table.table.table-striped.table-bordered.table-for-search
  %tr
    %th.text-nowrap= t('.position')
    %th.text-nowrap= t('.ship_name')
    %th.text-nowrap= t('.pilot_names')
    %th.text-nowrap= t('.squadron_count')
    %th.text-nowrap= t('.tournaments_count')
    %th.text-nowrap= t('.average_percentile')
    -#%th.text-nowrap= t('.win_loss_ratio')
    - unless ships.count <= 1
      %th.text-nowrap.magic-column= t('.weight')
  - ships.each.with_index do |ship, index|
    %tr.row-for-search{data: {ship_id: ship.id}}
      %td
        %strong= "#{index + 1}."
      %td.text-nowrap
        %i.xwing-miniatures-ship{class: "xwing-miniatures-ship-#{ship.font_icon_class}"}
        = link_with_filter_to ship_path(ship.id) do
          = ship.name
      %td.pilots-cell
        - pilots = ship_pilots[ship.id]
        - pilots.each.with_index do |pilot, index|
          %span.text-nowrap
            %small
              %i.xwing-miniatures-font{class: "xwing-miniatures-font-#{faction_icon(pilot.faction.name)}"}
            = link_with_filter_to pilot_path(pilot.id), class: 'link-with-hover-image' do
              = image_tag pilot_image_path(pilot, format: :png)
              = pilot.name
            - if index < pilots.count - 1
              = ' - '
      %td
        = ship.squadrons
        %br
        %small= "#{(ship.squadrons.to_f / @view.number_of_squadrons.to_f * 10000).to_i / 100.0}%"
      %td
        = ship.tournaments
        %br
        %small= "#{(ship.tournaments.to_f / @view.number_of_tournaments.to_f * 10000).to_i / 100.0}%"
      %td
        = "#{(ship.average_percentile * 10000).to_i / 100.0}%"
      -#%td
      -#  - if ship.average_wlr.present?
      -#    = "#{(ship.average_wlr * 10000).to_i / 100.0}%"
      -#  - else
      -#    &mdash;
      - unless ships.count <= 1
        %td.magic-column
          = render '/shared/magic_bar', max_weight: ships.first.weight, weight: ship.weight
