- content_for :elm do
  = javascript_pack_tag "hello_elm"

- content_for :title do
  = t('.title')

- content_for :export_button do
  .float-md-right
    = link_with_filter_to ships_path(format: :csv), target: '_blank', class: 'btn btn-primary btn-sm' do
      = fa_icon 'table'
      = t('.export_csv')
    &nbsp;
    = link_with_filter_to ships_path(format: :json), target: '_blank', class: 'btn btn-primary btn-sm' do
      = fa_icon 'cloud-download'
      = t('.export_json')

= render '/ships/table', ships: @view.ships, ship_pilots: @view.ship_pilots
