- content_for :title do
  = t('.title')

%table.table.table-striped.table-bordered
  %tr
    %th= t('.position')
    %th= t('.images')
    %th= t('.ship_name')
    %th= t('.weight')
    %th= t('.pilot_names')
  - @view.ships.each.with_index do |ship, index|
    %tr{data: {ship_id: ship.id}}
      %td
        %strong= "#{index + 1}."
      %td
        - @view.ship_pilots(ship.id).each do |pilot|
          = link_to pilot.image_source_uri do
            = image_tag pilot.image_uri, width: '80px'
      %td
        = ship.name
      %td
        = ship.weight
        %br
        = ship.squadrons
        %br
        = ship.tournaments
      %td
        = @view.ship_pilots(ship.id).map{|p| "#{p.name} (#{p.faction.name})"}.join(', ')
