- content_for :title do
  = t('.title', type: @view.ship.name)

.float-md-right
  %button.btn.btn-primary.btn-sm{data: {target: '#edit-modal', toggle: 'modal'}, type: 'button'}
    = t('.edit')
%h2= t('.ship')
= render '/ships/table', ships: @view.ships, ship_pilots: @view.ship_pilots

.float-md-right
  = link_to ship_squadrons_path(@view.ship), class: 'btn btn-primary btn-sm' do
    = t('.more_squadrons')
%h2#squadrons= t('.notable_squadrons')
= render '/squadrons/table', squadrons: @view.squadrons

%h2#pilots= t('.pilots')
= render '/pilots/table', pilots: @view.pilots

%h2#upgrades= t('.upgrades')
= render '/upgrades/table', upgrades: @view.upgrades

%h2#ship_combos= t('.ship_combos')
= render '/ship_combos/table', ship_combos: @view.ship_combos, ships: @view.ship_combos_ships

= render '/ships/edit_modal', ship: @view.ship
