%table.table.table-striped.table-bordered.table-for-search
  %tr
    %th.text-nowrap= t('.tournament')
    %th.text-nowrap= t('.num_tournament_players')
    %th.text-nowrap= t('.swiss_standing')
    %th.text-nowrap= t('.elimination_standing')
    %th.text-nowrap= t('.squad_list')
  - squadrons.each do |squadron|
    %tr.row-for-search{data: {squadron_id: squadron.id}}
      %td
        = link_to "http://lists.starwarsclubhouse.com/get_tourney_details?tourney_id=#{squadron.tournament.lists_juggler_id}" do
          = squadron.tournament.name
        %br
        = squadron.tournament.tournament_type.name
        %br
        = squadron.tournament.date
      %td
        = squadron.tournament.num_players
      %td
        = squadron.swiss_standing
      %td
        = squadron.elimination_standing
      %td.squadron-cell
        = render '/squadrons/squadron', squadron: squadron, show_upgrades: true

= render '/squadrons/xws_modal'

- content_for :javascript do
  :coffeescript
    $ ->
      $('.xws-link').on 'click', (e) ->
        console.log JSON.stringify($(e.target).data('xws'))
        $('#xws-text-area').val(JSON.stringify($(e.target).data('xws')))
        $('#xws-json-link').attr('href', $(e.target).data('link'))
        $('#xws-modal').modal('show')

      $('#xws-text-area').on 'focus', (e) ->
        $('#xws-text-area').select()
