#xws-modal.modal.fade{'aria-hidden' => 'true', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog{:role => 'document'}
    .modal-content
      .modal-header
        %h5.modal-title= t('.title')
        %button.close{'aria-label' => t('.close'), 'data-dismiss' => 'modal', :type => 'button'}
          %span{'aria-hidden' => 'true'} ×
      .modal-body
        %p= t('.explanation')
        = text_area_tag 'xws-text-area', '', id: 'xws-text-area', class: 'form-control'
        %br
        = form_tag squad_visualizations_path, method: :post, class: 'export-form' do
          = hidden_field_tag :xws, '', class: 'xws-export-data'
          = submit_tag t('.visualize'), class: 'export-button btn btn-secondary btn-sm'
        = link_to t('.open_in_yasb'), 'javascript:void(0)', class: 'export-button btn btn-secondary btn-sm yasb-export-link'
        = form_tag 'http://xwing-builder.co.uk/import', method: :post, authenticity_token: false, class: 'export-form' do
          = hidden_field_tag :data, '', class: 'xws-export-data'
          = submit_tag t('.open_in_voidstate'), class: 'export-button btn btn-secondary btn-sm'
        = form_tag 'http://x-wing.fabpsb.net/loadxws_process.php', method: :post, authenticity_token: false, class: 'export-form' do
          = hidden_field_tag :'sq', '', class: 'xws-export-data'
          = submit_tag t('.open_in_fabs'), class: 'export-button btn btn-secondary btn-sm'
        = hidden_field_tag :'xws-content', '', class: 'xws-export-data', id: 'yasb-xws'
        %br
        %br
        %small
          %p
            = link_to 'javascript:void(0);', id: 'xws-json-link', target: '_blank' do
              = t('.link_to_xws')
            = '-'
            = t('.xws_link_explanation')
      .modal-footer
        %button.btn.btn-primary{'data-dismiss' => 'modal', :type => 'button'}= t('.close')
