#xws-modal.modal.fade{'aria-hidden' => 'true', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog{:role => 'document'}
    .modal-content
      .modal-header
        %h5.modal-title= t('.title')
        %button.close{'aria-label' => t('.close'), 'data-dismiss' => 'modal', :type => 'button'}
          %span{'aria-hidden' => 'true'} ×
      .modal-body
        %p= t('.explanation')
        = text_area_tag 'xws-text-area', '', id: 'xws-text-area', class: 'form-control'
        %p
          %small
            = link_to 'javascript:void(0);', id: 'xws-json-link', target: '_blank' do
              = t('.link_to_xws')
            = '-'
            = t('.xws_link_explanation')
      .modal-footer
        %button.btn.btn-primary{'data-dismiss' => 'modal', :type => 'button'}= t('.close')
