%nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
  %button.navbar-toggler.navbar-toggler-right.hidden-lg-up{'aria-controls' => 'navbarsExampleDefault', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#navbarsExampleDefault', 'data-toggle' => 'collapse', :type => 'button'}
    %span.navbar-toggler-icon
  = link_with_filter_to root_path, class: 'navbar-brand' do
    = t('.title')
  #navbar.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - active = :browser
      - active = :about if %w[abouts].include?(params[:controller])
      %li.nav-item{class: active == :browser ? 'active' : ''}
        = link_with_filter_to root_path, class: 'nav-link' do
          = t('.browser')
          - if active == :browser
            %span.sr-only= "(#{t('.current')})"
      %li.nav-item{class: active == :about ? 'active' : ''}
        = link_with_filter_to about_path, class: 'nav-link' do
          = t('.about')
          - if active == :about
            %span.sr-only= "(#{t('.current')})"
    %form.form-inline.mt-2.mt-md-0#search-form
      %input.form-control.mr-sm-2{:placeholder => 'Search', :type => 'text'}/
      %button.btn.btn-outline-success.my-2.my-sm-0{:type => 'submit'} Search

- content_for :javascript do
  :coffeescript
    $ ->
      $('#search-form input').on 'keyup change', (e) ->
        if $(e.target).val().length > 0
          $.each $('.row-for-search'), (index, item) ->
            row = $(item)
            if row.text().toLowerCase().indexOf($(e.target).val().toLowerCase()) >= 0
              row.show()
            else
              row.hide()
        else
          $('.row-for-search').show()

      $('#search-form button').on 'click', (e) ->
        e.preventDefault()
        false
