!!!
%html{:lang => 'en'}
  %head
    - title = yield(:title)
    - if title.include?('&quot;'); title = title.split('&quot;')[1]; end
    %title= [title, t('.title')].reject(&:blank?).join(' - ')
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'width=device-width, initial-scale=1, shrink-to-fit=no', :name => 'viewport'}/
    %meta{:content => t('.description'), :name => 'description'}/
    %meta{:content => t('.author'), :name => 'author'}/
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %link{:color => "#71b5ff", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}/
    %meta{:content => "meta-wing", :name => "apple-mobile-web-app-title"}/
    %meta{:content => "meta-wing", :name => "application-name"}/
    %meta{:content => "#71b5ff", :name => "theme-color"}/

  %body
    = render '/layouts/top_navigation'
    .container-fluid
      .row
        %nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
          = render '/layouts/side_navigation'
        %main.col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-3
          - if show_filter?(params[:controller], params[:action])
            = render '/shared/filter_configurator'
          %h1= yield(:title).presence || t('.title')
          = yield

    = javascript_include_tag '//www.google.com/jsapi', 'chartkick', 'application'
    = yield :javascript
    - if Rails.env.production?
      = render '/layouts/analytics'
